body {
    background-color: #ffffff;
}
h1 {
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    /*background-color: #e8dab7;*/
    padding:40px;
    font-size: 30pt;
}
